.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 70%;
    color: rgb(174, 174, 174);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.text{
    text-align: justify;
    width: 70%;

}

.image{
    height: 20%;
    width: 20%;    
    border-radius: 50%;
}