.structure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.title{
    color: white;
    font-size: 50px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:white;
    font-size: 1000%;
    padding-top: 40px;
}
.github{
    padding-right: 100px;
    cursor: grab;
}
.github:hover{
    color:#c9510c;
    transition: 1s;
    
}

.facebook{
    padding-right: 100px;
    cursor: grab;
}
.facebook:hover{
    color:#3b5998;
    transition: 1s;
}

.whatsapp{
    padding-right: 100px;
    cursor: grab;
}
.whatsapp:hover{
    color:#128C7E;
    transition: 1s;
}
.reddit{
    cursor: grab;
}
.reddit:hover{
    color:#FF4500;
    transition: 1s;
}