.structure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:white;
}

.github:hover{
    color:#c9510c;
}

.facebook:hover{
    color:#3b5998;
}

.whatsapp:hover{
    color:#128C7E
}

.reddit:hover{
    color:#FF4500
}