.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px 0px 10px;
}

.heartIcon{
    color: cadetblue;
    font-size: 50px;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite; 
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.right{
    display: flex;
    flex-direction: row;
    color: brown;
}
.navPoint{
    padding: 0px 10px 10px 10px;
}