*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDE9E7;
}

main{
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
}

.images{
    width: 10%;
    height: 10%;
}